<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <img src="assets/logo.png" />
  <h1>
    ようこそ源ノ明朝
  </h1>
</div>
<div class="container">

  <markdown>
    源ノ明朝を使用して記事を書いてみている。
    源ノ明朝はアドビによるオープンソースのフォントで無償で使用することができる。

    実際にこのサイトで使っているのは、源ノ明朝ではなくNoto Serifであるが、基本的には同一のフォントである。
    折角の明朝体フォントなのに、タイトルが「ようこそNotoフォント」だと締まらないでしょう？

    だからこの記事では源ノ明朝と呼ぶことにする。

    源ノ明朝の特徴はもちろん美しさではあるのだけれども、複数のウェイトが用意されている点もある。
    例えば**太い文字**。太い文字は本文で使用しているレギュラーウェイトを太くして作ることもできる。
    でも、フォントであらかじめ用意されているウェイトの文字は、ひとあじ違う。
    この記事のタイトルだって、レギュラーウェイトを太くしただけだと、つまらなくて味気ない。

    この源ノ明朝の、１つのウェイトあたりのバイト数は、２０ＭＢ。
    このサイズを使用するウェイト分だけ用意することになる。
    ブラウザで見る人はみんな、フォントをダウンロードする必要がある。
    おうちの回線を使っている場合はなんともないんだけれども、モバイルの回線の場合はちょっと問題になる。
    問題になるというかページの文字が表示されるまで遅い。重い。

    そんな、ユーザーに対して不快感を与えてまでフォントを使用するべきか、という議論もある。
    商用のページでは、ちょっと難しい部分もあるだろうね。

    でもさ、美しいフォントって、それ以上に価値があると思わない？
    もちろん、フォントの選択はブラウザが行うべきで、サイトが押し付けるんじゃない、という意見もあるかもしれない。
    でもさ、サイトって色々だからさ。色々あっていいんじゃない？
    色々ある中で、使いにくいとか、見にくいとか、そういったサイトから淘汰されていく。
    その中でも、こうありたい、という要求を示すのはいいんじゃないかな。

    正直なところ、横に何文字並べるかとか、行間隔はどういう風にした方がいいのかとか、いろいろと考えたい部分がある。
    けれども、まずはフォントを変えるところから始めたんだ。
    フォントがダメだったら、ほかの要素をどんなに変えても、それほど意味を持たないと思ったんだ。

    あと、Ｗｅｂではあまり見ない字下げをしてみた。どうかな？

    カーニングもやってみたよ。両端揃えもね。

    レギュラーウェイトってさっきは言ったけれど、実はミディアムウェイトっていうものを使っているんだ。
    CSSでいうところの500。

    と、こんなふうに、源ノ明朝フォントのテストをするために、こんな良く分からない文章を書いている。
    なかなかいいんじゃないかな。源ノ明朝フォント。

    ## このサイトについて

    ギフハブの[ソース](https://github.com/diffshare/blog)から静的なファイルを生成して、
    [ギフページズ](https://diffshare.github.io/blog/)から配布することをやっている。
    動的なファイルを作らずに静的なファイルを作る意味は、ファイルを配布するときに処理する必要がないから、早くできるんだ。
    あと、途中の経路でキャッシュできるって意味もある。

    あと、マークダウンっていう書き方もできるように、ちょっとだけ工夫した。
    大したことはないんだけども。

    ### そんなこんなで

    源ノ明朝みんな使おうよ。

  </markdown>

</div>
