<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <img src="assets/logo.png" />

  <h1>
    ようこそ源ノ明朝
  </h1>
</div>
<div class="container">

  <markdown>
    源ノ明朝を使用して記事を書いてみている。
    源ノ明朝はアドビによるオープンソースのフォントで無償で使用することができる。

    実際にこのサイトで使っているのは、源ノ明朝ではなくNoto Serifであるが、基本的には同一のフォントである。
    折角の明朝体フォントなのに、タイトルが「ようこそNotoフォント」だと締まらないでしょう？

    だからこの記事では源ノ明朝と呼ぶことにする。

    源ノ明朝の特徴はもちろん美しさではあるのだけれども、複数のウェイトが用意されている点もある。
    例えば**太い文字**。太い文字は本文で使用しているレギュラーウェイトを太くして作ることもできる。
    でも、フォントであらかじめ用意されているウェイトの文字は、ひとあじ違う。
    この記事のタイトルだって、レギュラーウェイトを太くしただけだと、つまらなくて味気ない。


  </markdown>

</div>
