<div class="full">

  <div class="left">
    <div class="header">
      <div class="menu">
        <span class="l">記事一覧</span>
        <span class="r">
          <a [routerLink]="['/items/new']">
          <fa name="pencil-square-o"></fa>
          </a>
        </span>
      </div>
    </div>
    <div class="content">
      <perfect-scrollbar>
        <ul>
          <li *ngFor="let item of items | async">
            <a [routerLinkActive]="['active']" [routerLink]="['/items',item.id]">{{ item.name }}
              <div class="date">{{ item.created | date:'yyyy/MM/dd' }}</div>
            </a>
          </li>
        </ul>
      </perfect-scrollbar>
    </div>
  </div>
  <div class="right">
    <router-outlet></router-outlet>
  </div>
</div>
