/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 100;
  src: url(assets/NotoSerifJP-ExtraLight.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 400;
  src: url(assets/NotoSerifJP-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 500;
  src: url(assets/NotoSerifJP-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 700;
  src: url(assets/NotoSerifJP-Bold.otf) format('opentype');
}

body {
  font-size: 1.5em;
  font-weight: 500;
  font-feature-settings: "palt" 1;
  /*
  font-variant-east-asian: proportional-width;
  */
  text-align: justify;
  font-family: 'Noto Serif JP', serif;
  padding-bottom: 200px;
  background: url("assets/purty_wood.png");
  /*
  */
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p {
  text-indent: 1em;
  line-height: 1.8;
}

markdown li {
  line-height: 1.6;
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}

:root {
  /*
  --main-border-color: rgba(255, 20, 147, .5);
  */
  --main-border-color: rgba(0, 0, 0, .5);
}

.header {
  height: 100px;
  border-bottom: 1px solid var(--main-border-color);
}

.left {
  border-right: 1px solid var(--main-border-color);
  /*
  box-shadow: 5px 0 5px rgba(0, 0, 0, .1);
  */
}

.menu {
  width: 100%;
  height: 100%;
  position: relative;
}

.menu .c {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.menu .l {
  position: absolute;
  left: 20px;
  height: 100%;

  display: flex;
  align-items: center;
}

.menu .r {
  position: absolute;
  right: 20px;
  height: 100%;

  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}

.container ul {
  list-style: disc;
}

fa {
  font-size: 50px;
}

.r fa {
  margin-left: 20px;
}

input, textarea, button {
  font-size: 30px;
}

.ps-container > .ps__rail-x > .ps__thumb-x {
  transition: .2s linear left;
  /* maybe other vendor-prefixed transitions */
}
.ps-container > .ps__rails-y > .ps__thumb-y {
  transition: .2s linear top;
  /* maybe other vendor-prefixed transitions */
}

table td, table th {
  border: 1px solid #555 !important;
}
